<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
<context:annotation-config/>
<!-- 컨트롤러 빈 생성 -->
<bean class="springMVC.sample.StartController"/>
<!-- <bean class="example.member.controller.AutoScanController"/> -->
<context:component-scan base-package="example.member.controller"/>
<!-- DTO설정 -->
<bean id='m' class="example.member.model.Member">
	<constructor-arg><value>홍길자</value></constructor-arg>
	<constructor-arg><value>25</value></constructor-arg>
	<constructor-arg><value>안녕하세여</value></constructor-arg>
</bean>
<bean id='m2' class="example.member.model.Member">
	<property name="name" value="홍길동"/>
	<property name="age" value="22"/>
	<property name="message" value="오늘도화이팅"/>
</bean>
</beans>
<!-- [springMVC]-servlet.xml 
	web.xml 에서 설정한 servlet-name과 동일하게 지정
-->