<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
	<!--  대상 클래스 빈 생성 -->
	<bean id='targetBean' class="aop3_annotation.MessageBeanImpl"/>
	<!-- 어드바이스 (공통로직) 빈 생성 -->
	<bean id='advice' class="aop3_annotation.LoggingAdvice"/>
	<bean id='advice2' class="aop3_annotation.SampleAdvice"/>
	<aop:aspectj-autoproxy/>
	
</beans>
